@include lg{
    .index{
        .banner{
            background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/13.jpg?raw=true) center center no-repeat;
            background-size: cover;
            .fw-bold{
                margin-top: 279px;
            }
            .mt-lg-4{
                width: 66.666667%;
            }
        }
        .explore{
            .card{
                padding: 35px 0;
                &:hover{
                    color: $secondary;
                    cursor: pointer;
                }
            }
            img{
                width: 41.66667%;
            }
            .more{
                padding: 39px 0;
                line-height: 60px;
                &:hover{
                    background-color: $primary;
                    color: $secondary;
                }
            }
        }
        .recent{
            .card-img-top{
                height: 255px;
            }
            .card-footer{
                img{
                    width: 24px;
                    height: 24px;
                }
                a:hover{
                    color: $primary;
                    span{
                        background-color: $secondary;
                    }
                }
                span{
                    padding-left: 10px;
                }
            }
            .btn-close{
                right: 4.819277%;
            }
            .modal-body{
                p{
                    width: 92.703863%;
                }
                button:hover{
                    color: $secondary;
                }
            }
        }
        .online{
            .btn-group{
                button{
                    border: 1px solid $primary;
                    border-width: 2px 2px 2px 4px;
                }
                button:hover{
                    border-left: 4px solid $secondary;
                    background-color: $primary;
                    color: #FFF;
                }
            }
            .img{
                overflow: hidden;
                img{
                    top: -100%;
                    left: -3%;
                }
            }
            .w-100:hover{
                color: $secondary;
            }
        }
        .albums1,.albums2{
            p{
                top: 0%;
                letter-spacing: 3.2px;
            }
            .p1{
                left: -4.3%;
            }
            .p2{
                left: -7.5%;
            }
        }
        .activity{
            img{
                height: 272px;
                object-fit: cover;
            }
            h4{
                transform: translate(-50%, -50%) rotate(-4deg);
            }
            li:nth-child(2){
                h4{
                    transform: translate(-50%, -50%) rotate(-3deg);
                }
            }
            li:nth-child(even){
                transform: rotate(-2deg);
            }
            li:nth-child(3){
                transform: rotate(2deg);
            }
        }
        .promote{
            .mail,.phone,.fb{
                .bg-primary{
                    width: 32px;
                    height: 32px;
                    line-height: 32px;
                }
            }
            a:hover{
                span{
                    color: $secondary;
                }
            }
        }
    }
}