@include lg{
    .index{
        .banner{
            background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/13.jpg?raw=true) center center no-repeat;
            background-size: cover;
            .fw-bold{
                margin-top: 279px;
            }
            .mt-lg-4{
                width: 66.666667%;
            }
        }
        .explore{
            .card{
                background-color: #F3F1E5;
                padding: 35px 0;
                &:hover{
                    color: $secondary;
                    cursor: pointer;
                }
            }
            img{
                width: 41.66667%;
            }
            .more{
                padding: 39px 0;
                line-height: 60px;
                &:hover{
                    background-color: $primary;
                    color: $secondary;
                }
            }
        }
        .recent{
            .card-img-top{
                height: 255px;
            }
            .card-footer{
                img{
                    width: 24px;
                    height: 24px;
                }
                a{
                    padding: 0 10px;
                    &:hover{
                        color: $primary;
                        background-color: $secondary;
                        cursor: pointer;
                    }
                }
            }
        }
        .online{
            .btn-group{
                button{
                    border: 1px solid $primary;
                    border-width: 2px 2px 2px 4px;
                }
                button:hover{
                    border-left: 4px solid $secondary;
                    background-color: $primary;
                    color: #FFF;
                }
            }
            .img{
                overflow: hidden;
                img{
                    top: -100%;
                    left: -3%;
                }
            }
            .w-100:hover{
                color: $secondary;
            }
        }
        .albums1,.albums2{
            .container{
                //overflow: hidden;
            }
            p{
                top: 0%;
                letter-spacing: 3.2px;
            }
            .p1{
                left: -4.3%;
            }
            .p2{
                left: -7.5%;
            }
        }
    }
}