.ticket{
    .banner{
        img{
            object-fit: cover;
        }
    }
    .year{
        width: 31.9088%;
    }
    .date{
        width: 65.2422%;
    }
    .rotate{
        transform: rotate(30deg);
        height: 50px;
    }
    .btn-group{
        button{
            border-width: 1px 1px 1px 4px;
            &:hover{
                border-width: 0px 0px 0px 4px;
                background-color: $primary;
                color: $secondary;
                border-color: $secondary;
            }
        }
    }
}
@include md{
    .ticket{
        .clock{
            width: 32px;
            transform: rotate(90deg);
        }
    }
}
@include lg{
    .ticket{
        .year{
            width: 100%;
        }
        .date{
            width: 100%;
        }
        .clock{
            width: 100%;
            transform: rotate(0deg);
        }
        .button{
            border-width: 1px 1px 1px 4px;
            &:hover{
                
            }
        }
    }
}
@include xl{
    .ticket{
        padding-top: 30px;
        .year{
            width: 100%;
        }
        .rotate{
            height: 80px;
        }
    }
}
@include xxl{
    .ticket{
        .rotate{
            height: 100px;
        }
    }
}