<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>even</title>
    <!-- icon font -->
    <link rel="stylesheet" href="../assets/scss/icofont/icofont.min.css">
    <!-- family font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;500;700&family=Yeseva+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="ticket">
      <div class="container">
        
      </div>
    </div>

    <%- include('./layout/footer'); -%>
    <!-- <div class="container">
      <a href="iconTemporary.html">ico</a>
    </div> -->
    <script type="module" src="../main.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <!-- own js -->
    <script type="module" src="../assets/js/even.js"></script>
  </body>
</html>
