<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <!-- icon font -->
    <link rel="stylesheet" href="../assets/scss/icofont/icofont.min.css">
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="btn btn-test">test</div>
    <br>
    



    <%- include('./layout/footer'); -%>

    <a href="./iconTemporary.html">icofontTemporary</a>
    <script type="module" src="../main.js"></script>
  </body>
</html>
