<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ticket</title>
    <!-- icon font -->
    <link rel="stylesheet" href="../assets/scss/icofont/icofont.min.css">
    <!-- family font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;500;700&family=Yeseva+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="ticket pt-4">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-10 mb-2 mb-lg-0">
            <div class="banner p-3 p-lg-6 border border-3 border-primary">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/09.jpg?raw=true" alt="student pic" class="w-100">
            </div>
          </div>
          <div class="col-12 col-lg-2 d-flex justify-content-between flex-lg-column">
            <div class="year">
              <p class="border border-3 border-primary fs-11 fs-lg-5 py-lg-8 h-100 d-flex justify-content-center align-items-center">2023</p>
            </div>
            <div class="date border border-3 border-primary py-3 d-flex justify-content-around align-items-center flex-lg-column py-xl-10 py-xxl-12">
              <p class="fs-16 fs-lg-9 fs-xl-7 fs-xxl-5 day text-center">MAY 19</p><div class="border border-primary rotate my-lg-5"></div><div class="fs-lg-9 d-md-flex flex-lg-column">12:00 <div class="text-center clock">|</div>20:00</div>
            </div>
          </div>
        </div>
        <h1 class="fs-9 fs-lg-2 fw-bold mt-6 mb-2 mb-lg-4">返老還童-制服聯誼</h1>
        <p class="fs-lg-16 mb-6">
          穿上制服，無年齡限制，一起走上街頭、尋找青春才有的純愛心動！
        </p>
        <div class="btn-group d-none d-lg-block" role="group" aria-label="Basic example">
          <button type="button" class="btn border-primary">Left</button>
          <button type="button" class="btn border-primary">Middle</button>
          <button type="button" class="btn border-primary">Right</button>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>
    <!-- <div class="container">
      <a href="iconTemporary.html">ico</a>
    </div> -->
    <script type="module" src="../main.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <!-- own js -->
    <script type="module" src="../assets/js/ticket.js"></script>
  </body>
</html>
