<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ticket</title>
    <!-- icon font -->
    <link rel="stylesheet" href="../assets/scss/icofont/icofont.min.css">
    <!-- family font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;500;700&family=Yeseva+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="ticket pt-4">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-10 mb-2 mb-lg-0">
            <div class="banner p-3 p-lg-6 border border-3 border-primary">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/09.jpg?raw=true" alt="student pic" class="w-100">
            </div>
          </div>
          <div class="col-12 col-lg-2 d-flex justify-content-between flex-lg-column">
            <div class="year">
              <p class="border border-3 border-primary fs-11 fs-lg-5 py-lg-8 h-100 d-flex justify-content-center align-items-center">2023</p>
            </div>
            <div class="date border border-3 border-primary py-3 d-flex justify-content-around align-items-center flex-lg-column py-xl-10 py-xxl-12">
              <p class="fs-16 fs-lg-9 fs-xl-7 fs-xxl-5 day text-center">MAY <br>19</p><div class="border border-primary rotate my-lg-5"></div><div class="fs-lg-9 d-md-flex flex-lg-column">12:00 <div class="text-center clock">|</div>20:00</div>
            </div>
          </div>
        </div>
        <h1 class="fs-9 fs-lg-2 fw-bold mt-6 mb-2 mb-lg-4">返老還童-制服聯誼</h1>
        <p class="fs-lg-16 mb-6">
          穿上制服，無年齡限制，一起走上街頭、尋找青春才有的純愛心動！
        </p>
        <div class="btn-group d-none d-lg-inline-flex mb-lg-12" role="group" aria-label="Basic example">
          <button type="button" class="btn border-primary fw-bold me-2">聯誼</button>
          <button type="button" class="btn border-primary fw-bold me-2">美食</button>
          <button type="button" class="btn border-primary fw-bold me-2">戶外</button>
          <button type="button" class="btn border-primary fw-bold">交通旅遊</button>
        </div>
        <div class="content p-4 p-lg-8 border border-2 border-primary mb-6 mb-lg-12">
          <p class="mb-4">想回到過去？試著讓故事繼續？</p>
          <p class="mb-4">由戀愛家教「艾德溫」主辦策劃，讓各位在安排好的青春行程中擁有自然的純愛互動體驗，互相餵食餅乾、觀察對方手相，有趣的互動環節讓你/妳怦然心動！制服由主辦方提供，妝髮造型可額外加價購！</p>
          <p>活動中全程會有隨行攝影師，捕捉你們的純愛互動，拍攝成實境電視劇，讓你們能留下永恆的美好回憶&lt;3</p>
        </div>
        <h2 class="fs-11 fs-lg-1 py-4 py-lg-6 px-3 px-lg-8 border border-2 border-primary d-flex justify-content-between align-items-center">TICKET<span class="fw-bold fs-13 fs-lg-9">購票資訊</span></h2>
        
      </div>
    </div>

    <%- include('./layout/footer'); -%>
    <!-- <div class="container">
      <a href="iconTemporary.html">ico</a>
    </div> -->
    <script type="module" src="../main.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <!-- own js -->
    <script type="module" src="../assets/js/ticket.js"></script>
  </body>
</html>
